/**********FOOTER***********/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ea90ffa6;
    align-items: center;
    height: 63px;

    span {
        margin-bottom: 9px;
        font-size: 15px;
        color: rgb(243, 243, 243);
    }
    
    .icon {
        color: white;

         &:hover{
        color:#e0ff00;
    }

    }

   

}

